<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="SQLConnection" 
			connectionString="Data Source=DESKTOP-52MOBHE\SQLEXPRESS;Initial Catalog=INTRANET;User Id=sa;Password=sa;" 
			providerName="System.Data.SqlClient"	 
		/>
	</connectionStrings>
</configuration>